<h1>{{character.objectID}}</h1>

<a href="/">back to character select</a>
<div id="grid-snap">

    <div class="info-panel panel-default">
        <div class="panel-body">
            <div class="row info">
                <div class="col-md-2">
                    <div class="info-label">Class</div>
                    <input type="text" class="info-content" value={{character.class}}>
                </div>
                <div class="col-md-2">
                    <div class="info-label">Race</div>
                    <input type="text" class="info-content" value={{character.race}}>
                </div>
                <div class="col-md-2">
                    <div class="info-label">Level</div>
                    <input type="text" class="info-content" value={{character.level}}>
                </div>
                <div class="col-md-2">
                    <div class="info-label">Armor Class</div>
                    <input type="text" class="info-content"
                           value={{character.armorClass}}>
                </div>
                <div class="col-md-2">
                    <div class="info-label">Spell Save</div>
                    <input type="text" class="info-content"
                           value={{character.spellSave}}>
                </div>
                <div class="col-md-2">
                    <div class="info-label">Initiative</div>
                    <input type="text" class="info-content"
                           value={{character.initiative}}>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-default hp-panel">
        <div class="panel-body">
            <div class="row hp">
                <div class="col-hp-1">
                    <div class="info-label">Hit Points</div>
                    <input type="text" class="info-content"
                           value={{character.hitPoints}}>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-default st-panel">
        <div class="panel-body">
            <div class="skill row">
                <div class="col-tbl-1">
                    <div class="info-label">Saving Throws</div>
                    <table class="skill-table">
                        {{#eachProperty character.savingThrows}}
                            <tr>
                                <td class="skill-name">{{property}}</td>
                                <td><input class="skill-value" type="text" value={{value}}></td>
                            </tr>
                        {{/eachProperty}}
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-default atr-panel">
        <div class="panel-body">
            <div class="ability row">
                <div class="col-tbl-1">
                    <div class="info-label">Ability scores</div>
                    <table class="ability-table">
                        {{#eachProperty character.attributes}}
                            <tr>
                                <td class="skill-name">{{property}}</td>
                                <td><input class="skill-value" type="text" value={{value}}></td>
                            </tr>
                {{/eachProperty}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="panel-default skills-panel">
        <div class="panel-body">
            <div class="skill row">
                <div class="col-tbl-1">
                    <div class="info-label">Skills</div>
                    <table class="skill-table">
                        {{#eachProperty character.skills}}
                            <tr>
                                <td class="skill-name">{{property}}</td>
                                <td><input class="skill-value" type="text" value={{value}}></td>
                            </tr>
                        {{/eachProperty}}
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
</div>