<h1>{{character.objectID}}</h1>

<a href="/">back to character select</a>
<div class="center">
    <div class="character-info">
        <div id="basic">
            <p class="basic">Class:{{character.class}}</p>
            <p class="basic">Race:{{character.race}}</p>
            <p class="basic">Level:{{character.level}}</p>
            <p class="basic">Armor Class:{{character.armorClass}}</p>
            <p class="basic">Spell Save:{{character.spellSave}}</p>
        </div>
        <div id="hitpoints" class="hitpoints">
            <label>Hit Points</label>
            <input type="text" value={{character.hitPoints}}>
        </div>
        <ul id="attributes">
            {{#eachProperty character.attributes}}
                <li class="attributes"><p>{{property}}</p>:{{value}}</li>
            {{/eachProperty}}
        </ul>
        <ul id="skills">
            {{#eachProperty character.skills}}
                <li class="skills">{{property}}:{{value}}</li>
            {{/eachProperty}}
        </ul>
    </div>
</div>