<h1>Select your character</h1>


<div class="center">
<div class="character-selector">
    <ul id="character-list">
    {{#each characters.results}}
      <li class="character-object">
           <a class="character-link" href="{{objectID}}">
               <h3> {{objectID}} {{race}} {{class}} </h3>
           </a>
          <a href="{{objectID}}">   <img class="img-responsive" src="{{image}}"/> </a>
        </li>
    {{/each}}
    </ul>
</div>
</div>