<h1>Select you character</h1>


<div class="center">
<div class="character-selector">
    <ul id="character-list">
    {{#each characters.results}}
      <li class="character-object">
           <a class="character-link" href="{{objectID}}">
               {{objectID}}
                {{race}}
                {{class}}
               {{level}}
           </a>
          <a href="{{objectID}}">   <img src="{{image}}"/> </a>
        </li>
    {{/each}}
    </ul>
</div>
</div>